.Button {
  border: none;

  background-color: #e0e0e0;
  color: #3f3f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  font-family: Noto Sans JP;
  line-height: 20px;
  font-style: normal;
  font-weight: 500;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  max-width: fit-content;

  &:hover,
  &:focus,
  &.hover {
    cursor: pointer;
    background-color: #aeaeae;
  }
}

.sm {
  height: 32px;
}

.md {
  height: 36px;
}

.lg {
  height: 42px;
}

.Button.outline {
  border: 1px solid #3d5afe;
  background-color: transparent;
  color: #3d5afe;

  &:hover,
  &:focus,
  &.hover {
    background-color: rgba(41, 98, 255, 0.1);
  }
}

.Button.text {
  border: none;
  background-color: transparent !important;
  color: #3d5afe;
  box-shadow: none;

  &:hover,
  &:focus,
  &.hover {
    background-color: rgba(41, 98, 255, 0.1) !important;
  }
}

.Button.disableShadow {
  box-shadow: none;
}

.Button.disabled {
  box-shadow: none;
  background-color: #e0e0e0;
  color: #9e9e9e;

  &:hover,
  &:focus {
    color: #e0e0e0;
  }
}

.ColorDefault {
  background-color: #e0e0e0;
  &:hover,
  &:focus {
    background-color: #aeaeae;
  }
}
.Icon {
}

.ColorPrimary {
  background-color: #2962ff;
  color: #ffffff;
  &:hover,
  &:focus,
  &.hover {
    background-color: #0039cb;
  }
}

.ColorSecondary {
  background-color: #455a64;
  color: #ffffff;
  &:hover,
  &:focus,
  &.hover {
    background-color: #1c313a;
  }
}

.ColorDanger {
  background-color: #d32f2f;
  color: #ffffff;
  &:hover,
  &:focus,
  &.hover {
    background-color: #9a0007;
  }
}
